<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class = "container">
                 <% for(var i = 0; i < 9; i++){ %>
                    <div class="post-list">
                         <div class="post-content">
                            </h2>Post Title: </h2><%= Klru_post[i].title.rendered%> <br/>
                            </h3>Post Excerpt: </h3><%= Klru_post[i].excerpt.rendered%>
                         </div>
                    </div>
                 <% }%>
    </div>
  </body>
</html>
