<!DOCTYPE html>
<html>
	<head>
		<title> <%= title%></title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
	  <a href = '/local-productions'> Back To Local Productions </a> |
	  <a href = '/local-productions<%= titlePath%>'> <%= title%> Home </a> |
          <a href = '/local-productions<%= titlePath%>/about'> About <%= title%> </a><br/>
          
	  <div class = "container">
	    <p> <%= Description%> </p>
	  </div>
	</body>
</html>
